# GUC K-nearest neighbor Classification

### Import packages and data set
#### Import the "Classified data" file

In [442]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [443]:
df=testdf = pd.read_csv("C:\\Users\Adham\\Documents\\Machine Learning\\Machine-Learning_Assignments\\Assignment 3\\Classified Data")

### Scale the features using sklearn.preprocessing package

**Instantiate a scaler standardizing estimator**

In [444]:
scaler = StandardScaler()

**Fit the features data only to this estimator (leaving the TARGET CLASS column) and transform**

In [445]:
scaler.fit(df.drop('TARGET CLASS',axis=1))
scaled_features = scaler.transform(df.drop('TARGET CLASS',axis=1))

In [446]:
df_feat = pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_feat.head()

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
0,-1.730320,-0.123542,0.185907,-0.913431,0.319629,-1.033637,-2.308375,-0.798951,-1.482368,-0.949719,-0.643314
1,-1.726856,-1.084836,-0.430348,-1.025313,0.625388,-0.444847,-1.152706,-1.129797,-0.202240,-1.828051,0.636759
2,-1.723391,-0.788702,0.339318,0.301511,0.755873,2.031693,-0.870156,2.599818,0.285707,-0.682494,-0.377850
3,-1.719927,0.982841,1.060193,-0.621399,0.625299,0.452820,-0.267220,1.750208,1.066491,1.241325,-1.026987
4,-1.716463,1.139275,-0.640392,-0.709819,-0.057175,0.822886,-0.936773,0.596782,-1.472352,1.040772,0.276510

### Train/Test split, model fit and prediction

In [447]:
from sklearn.model_selection import train_test_split
X = df_feat
y = df['TARGET CLASS'].values
X_train, X_test, y_train, y_test = train_test_split(X,df['TARGET CLASS'].values,
                                                    test_size=0.50, random_state=101)
# print(y[1])
# print(df['TARGET CLASS'].values)

In [448]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=46)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=46)

In [449]:
pred = knn.predict(X_test)
# print(type(pred))
# print(type(y_test),y_test)

### Evaluation of classification quality using Confusion Matrix

In [450]:
from sklearn.metrics import confusion_matrix
results = confusion_matrix(y_test, pred)
print(results)

[[234  16]
 [  9 241]]

***Print Misclassification error rate***

In [451]:
print(f'Error Rate in determining 1st Class as 2nd Class is: {round((results[1][0]/500)*100,2)}%')
print(f'Error Rate in determining 2nd Class as 1st Class is: {round((results[0][1]/500)*100,2)}%')
print(f'Total Error rate is: {round(((results[1][0]+results[0][1])/1000)*100,2)}%')
print(f'This model has an accuracy of: {knn.score(X_test,y_test)*100}%')

Error Rate in determining 1st Class as 2nd Class is: 1.8%
Error Rate in determining 2nd Class as 1st Class is: 3.2%
Total Error rate is: 2.5%
This model has an accuracy of: 95.0%

# Choosing 'k' using cross validation error
#### Plot the error rate vs. K Value

In [452]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

In [453]:
dynamicKNN=KNeighborsClassifier()
param_grid = {"n_neighbors": np.arange(1, 100)}
knn_gscv = GridSearchCV(dynamicKNN, param_grid, cv=5)
knn_gscv.fit(X, y)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])})

In [454]:
print(f'Best Value of K based on Cross Validation error over values from 1-99 is: {knn_gscv.best_params_["n_neighbors"]}')

Best Value of K based on Cross Validation error over values from 1-99 is: 46